
/* Regole generali */
* {
  margin: 0;
}
/* Regole corpo della pagina */
#noir {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
h1 {
  color:white;
  z-index: 999;
}
#roma {
  background-image: url("../img/rome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32vh;
}
#romatext {
  position: fixed;
  top: 15%;
  left: 27%;
  transform: translate(-50%, -50%);
}
#dubai {
  background-image: url("../img/dubai.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 33vh;
}
#dubaitext {
  position: fixed;
  top: 47%;
  left: 27%;
  transform: translate(-50%, -50%);
}
#singapore {
  background-image: url("../img/singapore.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}
#singaporetext {
  position: fixed;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}
#singapore:hover {
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
}
